* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}
body {
	font-family: 'Open Sans',arial,sans-serif;
}
@font-face {
  font-family: 'bebas_neueregular';
  src: url('../fonts/bebasneue_regular-webfont.eot');
  src: url('../fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
  url('../fonts/bebasneue_regular-webfont.woff') format('woff'),
  url('../fonts/bebasneue_regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	cursor: pointer;
}
.top_nav {
	background: url(../img/top-nav-r.png) 0 0;
	height:54px;
	width:100%;
	position:fixed;
	z-index:100;
}
.top_nav .dark_line {
	background:url(../img/top-nav.png) no-repeat center 0;
	height:54px;
}
.top_nav .width {
	width:1024px;
	margin:0 auto;
}
.top_nav .width ul {
	float:left;
	margin-left: 50px;
}
.top_nav .width ul li {
	font-weight:300;
	font-size:14px;
	display:inline-block;
	line-height:41px;
	padding:0 50px 0 0;
}
.top_nav .width ul li a {
	color:#fff;
}
.top_nav .width .box {
	float:right;
	padding:5px 0 0 0;
}
#header {
	background:#000 url(../img/top.jpg) no-repeat center bottom;
	height:541px;
}
#header .width {
	width:1024px;
	margin:0 auto;
	padding:53px 0 0 0;
	position:relative;
}
#header .width .form_t {
	right:38px;
	top:366px;
	position:absolute;
}
#header .width .form_t input {
	background:url(../img/input_t.png) no-repeat 0 0;
	width:222px;
	height:39px;
	line-height:39px;
	display:block;
	font-family:'Open Sans',arial,sans-serif;
	font-size:16px;
	padding:0 14px;
}
#header .width .form_t input:focus {
	background:url(../img/input_t.png) no-repeat 0 -39px;
}
#header .width .form_t .input {
	background:url(../img/input_t.png) no-repeat 0 -39px;
	width:250px;
	height:47px;
}
#header .width .form_t .name_inp {
	color:#fff;
	font-size:12px;
	padding:0 0 3px 0;
}
#header .width .form_t a {
	background:url(../img/button_t.png) no-repeat 0 0;
	width:250px;
	height:84px;
	line-height:69px;
	margin:29px 0 0 0;
	font-family:arial,sans-serif;
	display:block;
	color:#fff;
	text-align:center;
	font-size:29px;
	font-weight:bold;
	text-shadow:1px 1px 0 #021405;
}
#header .width .form_t input[type="submit"] {
	cursor: pointer; 
	background:url(../img/button_t.png) no-repeat 0 0;
	width:250px;
	height:74px;
	line-height:59px;
	margin:29px 0 0 0;
	font-family:arial,sans-serif;
	display:block;
	color:#fff;
	text-align:center;
	font-size:29px;
	font-weight:bold;
	text-shadow:1px 1px 0 #532311;
}
#header .text-right {
	font-size:24px;
	line-height:34px;
	position:absolute;
	right:11px;
	top:236px;
	color:#bcbcbc;
	font-weight:300;
}
#header .text-left {
	font-size:32px;
	color:#fff;
	position:absolute;
	top:71px;
	left:80px;
	line-height:20px;
}
#header .text-left div {
	font-size:24px;
	padding:0 0 15px 20px;
	color:#bcbcbc;
	font-weight:300;
}
#header .text-left span {
	font-size:24px;
	padding:11px 0 0 85px;
	color:#bcbcbc;
	display:block;
	font-weight:300;
}
#header .text-right-top {
	font-size:32px;
	color:#fff;
	position:absolute;
	top:70px;
	right:41px;
	line-height:20px;
}
#header .text-right-top div {
	font-size:24px;
	padding:0 0 15px 20px;
	color:#bcbcbc;
	font-weight:300;
}
#header .text-right-top b {
	text-transform:uppercase;
}
#header .text-right-top span {
	font-size:56px;
	padding:13px 0 0 185px;
	color:#fff;
	display:block;
	font-weight:300;
	line-height:40px;
}
#header .time{
	position:absolute;
	top:511px;
	left: 50%;
	margin-left: -180px;
}
#footer .time {
	position:absolute;

	top:373px;
}
#header .time .name-t {
	text-align:center;
	padding:0 0 13px 0;
	font-size:18px;
	color:#fff;
}
#header .time #timer div {
	position:relative;
	background:url(../img/button-timer.png) no-repeat 0 0;
	width:77px;
	height:86px;
	line-height:86px;
	padding:0 3px 0 0;
	display:inline-block;
	font-weight:bold;
	margin:0 0 0 5px;
	font-size:32px;
	font-family:arial;
	text-align:center;
	color:#fff;
}
#footer .time .name-t {
	text-align:center;
	padding:0 0 13px 0;
	font-size:18px;
	color:#a7a7a7;
}
#footer .time #timer2 div {
	position:relative;
	background:url(../img/button-timer.png) no-repeat 0 0;
	width:77px;
	height:86px;
	line-height:86px;
	padding:0 3px 0 0;
	display:inline-block;
	font-weight:bold;
	margin:0 0 0 5px;
	font-size:32px;
	font-family:arial;
	text-align:center;
	color:#fff;
}
#footer .time span,
#header .time span {
	position: absolute;
	width: 72px;
	text-align: center;
	left: 50%;
	margin-left: -34px;
	top: 81px;
	text-transform:uppercase;
	font-weight:300;
	line-height: 30px;
	color:#000;
	font-size:12px;
	font-family:'Open Sans',arial,sans-serif;
}
#footer .time span {
	color:#a7a7a7;
} 
#action {background:#423b43 url(../img/action.jpg) no-repeat center 0;height:160px;}
#action .width {width:1024px;margin:0 auto;}
#action .width .price {font-weight:bold;padding:30px 0 0 0;}
#action .width .price .old-price {font-size:24px;color:#a6a6a6;display:inline-block;position:relative;}
#action .width .price .old-price div {background:url(../img/old-price.png) no-repeat 0 0;width:81px;height:3px;position:absolute;left:-13px;top:17px;}
#action .width .price .new-price {width:194px;font-size:40px;color:#fff;display:inline-block;line-height:47px;}

#description {background:#000 url(../img/description.jpg) no-repeat center 0;height:800px;}
#description .width {width:1024px;margin:0 auto;}
#description .width .title {font-size:32px;color:#fff;text-align:center;font-weight:300;line-height:107px;}
#description .width .item {display:inline-block;font-size:14px;width:330px;color:#fff;padding:224px 11px 0 0;vertical-align:top;}
#description .width .item.last {padding:224px 0 0 0;}
#description .width .item div {font-size:20px;color:#bcbcbc;padding:0 0 15px 0;}
#description .width .video {text-align: center;margin-top: 30px;}

#question {
    background: #423b43 url(../img/question.jpg) no-repeat center 0;
    height: auto;
    padding-bottom: 40px;
}
#question .width {width:1024px;margin:0 auto;}
#question .width .title {font-size:32px;color:#818181;font-weight:300;text-align:center;line-height:48px;padding:24px 0 24px 0;}
#question .item {display:inline-block;vertical-align:top;padding:0 14px 0 0;font-size:14px;color:#fff;line-height:18px;}
#question .item.last {padding:0;}
#question .item .name {color:#18181a;font-size:20px;padding:0 0 22px 0;}
#question .item .line {padding:0 0 3px 0;}

#delivery {background:#000 url(../img/delivery.jpg) no-repeat center 0;height:600px;}
#delivery .width {width:1024px;margin:0 auto;position:relative;}
#delivery .width .title {font-size:32px;font-weight:300;text-align:center;color:#fff;padding:25px 0 0 0;}
#delivery .width span {display:block;padding:0 0 5px 0;}
#delivery .width .fonar1 {background:url(../img/fonar-1.png) no-repeat 0 0;width:788px;height:163px;position:absolute;top:148px;left:-45px;}
#delivery .width .fonar2 {background:url(../img/fonar-2.png) no-repeat 0 0;width:1000px;height:350px;position:absolute;top:66px;left:-45px;z-index:1;}
#delivery .width .text1 {color:#a0a0a0;font-size:14px;width:678px;display:inline-block;vertical-align:top;padding:0 8px 0 0;line-height:18px;}
#delivery .width .text1 div {font-size:20px;font-weight:300;color:#fff;padding:0 0 12px 0;}
#delivery .width .text2 {color:#a0a0a0;font-size:14px;width:333px;display:inline-block;vertical-align:top;line-height:18px;}
#delivery .width .text2 div {font-size:20px;font-weight:300;color:#fff;padding:0 0 12px 0;line-height:20px;}
#delivery .width .text3 {color:#a0a0a0;font-size:14px;width:275px;display:inline-block;vertical-align:top;padding:0 70px 0 0;line-height:18px;}
#delivery .width .text3 div {font-size:20px;font-weight:300;color:#fff;padding:0 0 12px 0;line-height:20px;}
#delivery .width .text4 {color:#a0a0a0;font-size:14px;width:305px;display:inline-block;vertical-align:top;line-height:18px;padding:0 35px 0 0;}
#delivery .width .text4 div,#delivery .width .text4 b {font-size:20px;font-weight:300;color:#fff;padding:0 0 12px 0;line-height:20px;}
#delivery .width .text4 b {padding:20px 0 12px 0;display:block;}
#delivery .width .text5 {color:#a0a0a0;font-size:14px;width:327px;display:inline-block;vertical-align:bottom;line-height:18px;}
#delivery .width .text5 div {font-size:20px;font-weight:300;color:#fff;padding:0 0 12px 0;line-height:20px;}
#delivery .width .button-line {padding:25px 0 0 66px;}
#delivery .width .button-line div {display:inline-block;line-height:50px;vertical-align:top;color:#fff;font-size:14px;font-weight:300;}
#delivery .width .button-line .name1 {padding:0 10px 0 0;}
#delivery .width .button-line .name2 {padding:0 0 0 10px;}
#delivery .width .btn-slide {background:url(../img/btn-slide.png) no-repeat 0 0;width:160px;height:60px;cursor:pointer;position:relative;z-index:2;}
#delivery .width .btn-slide.active {background-position:0 bottom;}
#delivery .width #panel-next,#delivery .width #panel {padding:180px 0 0 0;}
#delivery .width #panel-next {display:none;}
#delivery .width .overflow {display:none;}

#garant {background:#423b43 url(../img/garant.jpg) no-repeat center 0;height:340px;}
#garant .width {width:1024px;margin:0 auto;overflow:hidden;}
#garant .width .title {color:#818181;font-weight:300;text-align:center;font-size:32px;line-height:100px;}
#garant .width .item {float:left;font-size:14px;color:#fff;font-weight:300;line-height:18px;padding:0 28px 0 0;}
#garant .width .item.last {padding:0;}
#garant .width .item .src {text-align:center;height:80px;}
#garant .width .item .name {color:#1e1e1e;font-size:20px;font-weight:400;padding: 0 0 10px 0;}

#footer {background:#000 url(../img/footer.jpg) no-repeat center 0;height:571px;}
#footer .width {width:1024px;margin:0 auto;position:relative;height:571px;}
#footer .title {font-size:32px;color:#dde7f0;line-height:105px;text-align:center;}
#footer .width .form_f {top:250px;position:absolute;}
#footer .width .form_f input[type="submit"] {cursor: pointer; background:url(../img/button_t.png) no-repeat 0 0 !important;width:250px;height:74px;line-height:59px;margin:29px 0 0 0;font-family:arial,sans-serif;display:block;color:#fff;text-align:center;font-size:29px;font-weight:bold;text-shadow:1px 1px 0 #532311;}
#footer .width .form_f input {background:url(../img/input_t.png) no-repeat 0 0;width:222px;height:39px;line-height:39px;display:block;font-family:'Open Sans',arial,sans-serif;font-size:16px;padding:0 14px;}
#footer .width .form_f input:focus {background:url(../img/input_t.png) no-repeat 0 -39px;}
#footer .width .form_f .input {background:url(../img/input_t.png) no-repeat 0 -39px;width:250px;height:47px;}
#footer .width .form_f .name_inp {color:#fff;font-size:12px;padding:0 0 3px 0;}
#footer .width .form_f a {background:url(../img/button_t.png) no-repeat 0 0;width:250px;height:84px;line-height:69px;margin:29px 0 0 0;font-family:arial,sans-serif;display:block;color:#fff;text-align:center;font-size:29px;font-weight:bold;text-shadow:1px 1px 0 #532311;}
#footer .width .text-left-bottom {color:#bcbcbc;font-size:16px;position:absolute;left:20px;bottom:75px;}
#footer .width .text-left-top {font-size:32px;color:#fff;position:absolute;top:97px;left:21px;line-height:20px;}
#footer .width .text-left-top div {font-size:24px;padding:0 0 15px 168px;color:#bcbcbc;font-weight:300;}
#footer .width .text-left-top b {text-transform:uppercase;}
#footer .width .text-left-top span {font-size:56px;padding:16px 0 0 16px;color:#fff;display:block;font-weight:300;line-height:40px;}
#footer .width .price {position:absolute;right:22px;top:124px;}


#bottom {background:#423b43 url(../img/bottom.jpg) no-repeat; background-size: 100% 100%;text-align:center; padding: 24px 0;}
#bottom div {font-size:16px;line-height:18px;color:#333;font-weight: 400;}
#bottom a {color:#ffffff;font-size:14px;}
#bottom img {
	vertical-align: baseline;
}
#bottom .phone {
	margin-top: 14px;
}
#action2  .price {font-weight:bold;padding:30px 0 0 0;}
#action2  .price .old-price {font-size:24px;color:#a6a6a6;display:inline-block;position:relative;}
#action2  .price .old-price div {background:url(../img/old-price.png) no-repeat 0 0;width:81px;height:3px;position:absolute;left:-13px;top:17px;}
#action2  .price .new-price {width:194px;font-size:40px;color:#fff;display:inline-block;line-height:47px;}


.window-wrapper {
  position: relative;
  width: 848px;
  height: 473px;
  z-index: 15;
}
a.close {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url('../img/close.png') no-repeat 0 0;
  right: 45px;
  top: 10px;
  z-index: 50;
}
a.close:hover {
  background-position: 0 -20px;
}
.ok-but {
  display: block;
  width: 270px;
  height: 89px;
  background-image: url('../img/btn.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  line-height: 81px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  font-family: "Myriad Pro", sans-serif;
  text-decoration: none;
  overflow: auto;
  z-index: 10;
  position: absolute;
  bottom: 30px;
  right: 60px;
}
.ok-but:hover {
  background: url('../img/btn.png');
  background-position: 0 -89px;
  text-decoration: none;
  color: #ffffff;
}
.no-but {
  position: absolute;
  color: #c4c4c3;
  bottom: 10px;
  text-decoration: none;
  right: 110px;
  font-family: "Myriad Pro", sans-serif;
  font-size: 16px;
}
.scroll-to-order {
  cursor: pointer;
  background: url(../img/button_t.png) no-repeat 0 0 !important;
  width: 250px;
  height: 74px;
  line-height: 69px;
  margin: 0 auto;
  font-family: arial,sans-serif;
  display: none;
  position: relative;
  z-index: 20;
  top: 20px;
  color: #fff;
  text-align: center;
  font-size: 29px;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 #532311;
}
label {
	color: #fff;
	font-size: 12px;
	padding: 0 0 3px 0;
}


input.form-control {
	background:url(../img/input_t.png) no-repeat 0 0;
	width:222px;
	height:39px;
	line-height:39px;
	display:block;
	font-family:'Open Sans',arial,sans-serif;
	font-size:16px;
	padding:0 14px;
}

button[type="submit"] {
  cursor: pointer;
  background:url(../img/button_t.png) no-repeat 0 0;
  width:250px;
  height:74px;
  line-height:59px;
  margin:29px 0 0 0;
  font-family:arial,sans-serif;
  display:block;
  color:#fff;
  text-align:center;
  font-size:29px;
  font-weight:bold;
  text-shadow:1px 1px 0 #532311;
}